.fundo{
    background-image: url(Imagens/MicrosoftTeams-image\ \(3\).png);
    background-color: white;
    background-repeat: repeat-y;
    background-attachment: fixed;
    
    

}

img{

    width: 400px;
    margin-left: 30px;
    




}
    h1{
        margin-left: 30px;

    }